<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="VolumeEffets" value="80"/>
		<add key="VolumeGlobal" value="80"/>
		<add key="VolumeMusique" value="80"/>
		<add key="ToucheHaut" value="Z"/>
		<add key="ToucheBas" value="S"/>
		<add key="ToucheGauche" value="Q"/>
		<add key="ToucheDroite" value="D"/>
	</appSettings>
</configuration>